{% extends "base.html"%}
{% load static %}
{% load cart_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h2 class="text-black mt-3 text-decoration-underline">Shopping Cart</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="my-3">
                        <tr>
                            <th scope="col">Service info</th>
                            <th scope="col"></th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Package</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in cart_items %}
                    <tr>
                        <td class="p-3 w-25">
                            {% if "placeholder" in item.service.image.url %}
                            <img class="card card-image rounded" src="{% static 'images/no-image.png' %}"
                                alt="placeholder image">
                            {% else %}
                            <img class="card card-image rounded" src="{{ item.service.image.url }}"
                                alt="{{ service.name }}">
                            {% endif %}
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.service.name }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.price_per_unit }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.quantity }}x</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.price_per_unit|calc_subtotal:item.quantity }}</p>
                        </td>
                        <td>
                            <form action="" method="POST" class="update-form">
                                {% csrf_token %}
                                <a class="remove-item text-danger hover" id="remove_{{ item.composite_key }}">
                                    <small>Remove</small>
                                </a>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                        </td>
                        <td colspan="5" class="pt-5 text-right">
                            <a href="{% url 'services' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead my-5">Your cart is empty</p>
            <a href="{% url 'services' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let compositeKey = $(this).attr('id').split('remove_')[1];
        let url = `/cart/remove/${compositeKey}/`;
        let data = { 'csrfmiddlewaretoken': csrfToken };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    });
</script>
{% endblock %}