{% extends "base.html"%}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-9 col-md-6 col-lg-6 my-auto">
            <h1 class="display-4 logo-font text-white bg-dark-75 bg-gradient">
                <p>Unlock your <strong>potential</strong></p>
                <p>
                    Your journey
                    <br>
                    <strong>starts here</strong>
                </p>
            </h1>
            <div class="my-5">
                <h2>
                    <a href="{% url 'services' %}?category=personal_training"
                        class="hire-now-button btn btn-lg rounded-0 text-uppercase py-3">
                        Hire personal trainer
                    </a>
                </h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}