{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<section>
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h2 class="text-color mt-3 text-decoration-underline">About/FAQs</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center text-center">
      <div class="col-12 col-md-6">
        <h3 class="my-2 text-decoration-underline"><small>About us</small></h3>
        <br>
        <div>
          <p>Trainers etc etc. Certificates "link to certificat site"</p>
          <br>
          <p>Follow us on facebook for regular updates!</p>
          <a href="">Facebooklink.com</a>
          <br>
          <a href="">Privacy statement</a>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h3 class="my-2 text-decoration-underline"><small>FAQs</small></h3>
        <br>
        <div>
          <div class="accordion" id="accordion">
            {% for faq in faqs %}
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.counter }}"
                  aria-expanded="False" aria-controls="collapse-{{ forloop.counter }}">
                  {{ faq.question }}
                </button>
              </h2>
              <div id="collapse-{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#accordion">
                <div class="accordion-body">
                  {{ faq.answer }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}