{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h2 class="text-black mt-3 text-decoration-underline">Service details</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-start">
        <div class="col-lg-8">
            <div class="card d-flex flex-row my-3 border">
                <div class="d-none d-sm-block">
                    {% if "placeholder" in service.image.url %}
                    <img class="card-image" src="{% static 'media/no-image.png' %}" alt="placeholder image">
                    {% else %}
                    <img class="card-image" src="{{ service.image.url }}" alt="{{ service.name }}">
                    {% endif %}
                </div>
                <div class="ms-3">
                    <h2>{{ service.name }}</h2>
                    <p><small><i class="fa-solid fa-tags"></i><a class="text-decoration-none"
                                href="{% url 'services' %}?category={{ service.category.name }}">
                                {{ service.category.name }}
                            </a>
                        </small>
                    </p>
                    <p>{{ service.description }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card my-3 border">
                <div class="card-body">
                    <h5 class="card-title">Buy sessions</h5>
                    <form class="form-session-quantity" action="{% url 'add_to_cart' service.id %}" method="POST">
                        {% csrf_token %}
                        {% if pricing_tiers %}
                        <div class="mb-3">
                            <label for="id_service_quantity" class="form-label"><strong>Quantity:</strong></label>
                            <select class="form-select" name="service_quantity" id="id_service_quantity"
                                onchange="calculateTotalPrice()">
                                <option selected disabled>Select amount</option>
                                {% for pricing_tier in pricing_tiers|dictsort:"quantity" %}
                                <option value="{{ pricing_tier.id }}" data-quantity="{{ pricing_tier.quantity }}"
                                    data-price="{{ pricing_tier.price_per_unit }}">
                                    {{ pricing_tier.quantity }} - {{ pricing_tier.price_per_unit }} $/hour
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="mb-3 me-auto">
                                <p><strong>Total Price:</strong></p>
                                <p id="total_price">0.00 $</p>
                            </div>
                            <input class="btn my-2 ms-auto" type="submit" value="Add to cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super}}
<script>

    // Calculate and update total price for services
    function calculateTotalPrice() {
        var select = document.getElementById("id_service_quantity");
        if (!select.value || select.value === "Select amount") {
            document.getElementById("total_price").innerText = "0.00 $";
            return;
        }

        var selectedOption = select.options[select.selectedIndex];
        var quantity = parseInt(selectedOption.getAttribute("data-quantity"));
        var pricePerUnit = parseFloat(selectedOption.getAttribute("data-price"));
        var totalPrice = quantity * pricePerUnit;
        document.getElementById("total_price").innerText = totalPrice.toFixed(2) + " $";
    }
</script>
{% endblock %}