{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h2 class="text-black mt-3 text-decoration-underline">Our services</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-lg-8">
            {% for service, pricing_tier in services_list %}
            <div class=" card d-flex flex-row my-3 bg-white position-relative">
                <div class="d-flex d-none d-sm-block">
                    {% if "placeholder" in service.image.url %}
                    <img class="card-image" src="{% static 'media/no-image.png' %}" alt="placeholder image">
                    {% else %}
                    <img class="card-image" src="{{ service.image.url }}" alt="{{ service.name }}">
                    {% endif %}
                </div>
                <div class="ms-3">
                    <a href="{% url 'service_details' service.id %}" class="btn">
                        <h2>{{ service.name }}</h2>
                    </a>
                    <p><small><i class="fa-solid fa-tags"></i>
                            {{ service.category }}</small>
                    </p>
                    <p>{{ service.description }}</p>
                </div>
                <div class="position-absolute bottom-0 end-0">
                    <div>
                        {% if pricing_tier %}
                        <p class="text-center my-0">{{ pricing_tier.price_per_unit }}$/hour</p>
                        {% else %}
                        <p class="text-center my-0">Price: N/A</p>
                        {% endif %}
                    </div>
                    <a href="{% url 'service_details' service.id %}" class="btn btn-primary my-3 me-3">Read more</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3">
            {% if page_obj.has_other_pages %}
            <div class="pagination justify-content-center">
                {% if page_obj.number > 1 %}
                <a class="px-1 text-decoration-none" href="?page=1">first</a>
                <a class="px-1 text-decoration-none" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% else %}
                <span class="px-1">first</span>
                <span class="px-1">previous</span>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                <span>{{ num }}</span>
                {% else %}
                <a class="text-decoration-none" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a class="px-1 text-decoration-none" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="px-1 text-decoration-none" href="?page={{ page_obj.paginator.num_pages }}">last</a>
                {% else %}
                <span class="px-1">next</span>
                <span class="px-1">last</span>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}