{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h2 class="text-color mt-3 text-decoration-underline">Our services</h2>
            {% for c in current_categories %}
            <a class="category-badge text-decoration-none" href="{% url 'services' %}?category={{ c.name }}">
                <span class="p-2 mt-2 badge badge-white text-color rounded-0 border border-dark my-3">
                    {{ c.name }}
                </span>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 d-flex justify-content-evenly align-items-center">
            <p class="text-muted mt-3 text-center">
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                <span class="small"><a href="{% url 'services' %}">Services Home</a> | </span>
                {% endif %}
                {{ total_services_count }} Service(s){% if search_term %} found for 
                <strong>"{{ search_term }}"</strong>
                {% endif %}
            </p>
            <div class="sort-select-wrapper">
                <select id="sort-selector"
                    class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="pricingtier_asc" {% if current_sorting == 'pricingtier_asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="pricingtier_desc" {% if current_sorting == 'pricingtier_desc' %}selected{% endif %}>Price (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                </select>
            </div>
        </div>
        <div class="col col-lg-8">
            {% for service in services %}
            <div class="card d-flex flex-row my-3 rounded-0">
                <div class="d-flex d-none d-sm-block">
                    {% if "placeholder" in service.image.url %}
                    <img class="card card-image" src="{% static 'images/no-image.png' %}" alt="placeholder image">
                    {% else %}
                    <img class="card card-image" src="{{ service.image.url }}" alt="{{ service.name }}">
                    {% endif %}
                </div>
                <div class="ms-3 flex-grow-1 p-2">
                    <a href="{% url 'service_details' service.id %}" class="text-decoration-none text-color">
                        <h2>{{ service.name }}</h2>
                    </a>
                    <p>
                        <small>
                            <i class="fa-solid fa-tags"></i> 
                            <a class="text-decoration-none" href="{% url 'services' %}?category={{ service.category.name }}">
                                {{ service.category.name }}
                            </a>
                        </small>
                    </p>
                    <p>{{ service.description|truncatechars:80 }}</p>
                </div>
                <div class="d-flex flex-column ms-auto align-items-end justify-content-between me-2">
                    {% if request.user.is_superuser %}
                    <small class="mb-2">
                        <a href="{% url 'edit_service' service.id %}">Edit</a>
                        <!-- Button delete service modal -->
                        <a class="text-danger remove-item" data-bs-toggle="modal" data-bs-target="#modal-{{ service.id }}">
                            Delete
                        </a>
                    </small>
                    {% endif %}
                    <!-- Delete Modal -->
                    <div class="modal fade" id="modal-{{ service.id }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="modalLabel">Delete confirmation</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this service?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    <a class="btn btn-danger" href="{% url 'delete_service' service.id %}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-end mt-auto me-2">
                        <div>
                            {% with service.pricing_tiers.all|dictsortreversed:"price_per_unit"|first as highest_pricing_tier %}
                                {% if highest_pricing_tier %}
                                    <p class="text-center my-0">Starting price:</p>
                                    <p class="text-center my-0">{{ highest_pricing_tier.price_per_unit }}$/hour</p>
                                {% else %}
                                    <p class="text-center my-0">Price: N/A</p>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <a href="{% url 'service_details' service.id %}" class="btn btn-color rounded-0 my-3 min-width">Read more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3">
            {% if page_obj.has_other_pages %}
            <div class="pagination justify-content-center">
                {% if page_obj.number > 1 %}
                    <a class="px-1 text-decoration-none" href="?page=1&{% if query %}q={{ query }}&{% endif %}{% if categories %}category={{ categories|join:',' }}&{% endif %}{% if sort %}sort={{ sort }}&{% endif %}{% if direction %}direction={{ direction }}{% endif %}">first</a>
                    <a class="px-1 text-decoration-none" href="?page={{ page_obj.previous_page_number }}&{% if query %}q={{ query }}&{% endif %}{% if categories %}category={{ categories|join:',' }}&{% endif %}{% if sort %}sort={{ sort }}&{% endif %}{% if direction %}direction={{ direction }}{% endif %}">previous</a>
                {% else %}
                    <span class="px-1">first</span>
                    <span class="px-1">previous</span>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                        <span>{{ num }}</span>
                    {% else %}
                        <a class="text-decoration-none" href="?page={{ num }}&{% if query %}q={{ query }}&{% endif %}{% if categories %}category={{ categories|join:',' }}&{% endif %}{% if sort %}sort={{ sort }}&{% endif %}{% if direction %}direction={{ direction }}{% endif %}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a class="px-1 text-decoration-none" href="?page={{ page_obj.next_page_number }}&{% if query %}q={{ query }}&{% endif %}{% if categories %}category={{ categories|join:',' }}&{% endif %}{% if sort %}sort={{ sort }}&{% endif %}{% if direction %}direction={{ direction }}{% endif %}">next</a>
                    <a class="px-1 text-decoration-none" href="?page={{ page_obj.paginator.num_pages }}&{% if query %}q={{ query }}&{% endif %}{% if categories %}category={{ categories|join:',' }}&{% endif %}{% if sort %}sort={{ sort }}&{% endif %}{% if direction %}direction={{ direction }}{% endif %}">last</a>
                {% else %}
                    <span class="px-1">next</span>
                    <span class="px-1">last</span>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
                    
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'services/js/sort_services.js' %}"></script>
{% endblock %}
