{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h2 class="text-color mt-3 text-decoration-underline">Service details</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-start">
        <div class="col-lg-8">
            <div class="card d-flex flex-row my-3 rounded-0">
                <div class="d-none d-md-block">
                    {% if "placeholder" in service.image.url %}
                    <img class="card card-image" src="{% static 'images/no-image.png' %}" alt="placeholder image">
                    {% else %}
                    <img class="card card-image" src="{{ service.image.url }}" alt="{{ service.name }}">
                    {% endif %}
                </div>
                <div class="ms-3 p-2">
                    <h2>{{ service.name }}</h2>
                    <p>
                        <small>
                            <i class="fa-solid fa-tags"></i>
                            <a class="text-decoration-none" href="{% url 'services' %}?category={{ service.category.name }}">
                                {{ service.category.name }}
                            </a>
                        </small>
                    </p>
                    <p>{{ service.description }}</p>
                </div>
                <div class="position-absolute top-0 end-0 me-2">
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_service' service.id %}">Edit</a>
                        <!-- Button delete service modal -->
                        <a class="text-danger remove-item" data-bs-toggle="modal" data-bs-toggle="modal" data-bs-target="#modal">
                            Delete
                        </a>
                    </small>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Delete Modal -->
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalLabel">Delete confirmation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this serice?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <a class="btn btn-danger" href="{% url 'delete_service' service.id %}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Adding to cart -->
        <div class="col-lg-4">
            <div class="card my-3 rounded-0">
                <div class="card-body">
                    <h5 class="card-title">Buy sessions</h5>
                    <form class="form-session-quantity" action="{% url 'add_to_cart' service.id %}" method="POST">
                        {% csrf_token %}
                        {% if pricing_tiers %}
                        <div class="mb-3">
                            <label for="id_service_quantity" class="form-label"><strong>Quantity:</strong></label>
                            <select class="form-select" name="service_quantity" id="id_service_quantity"
                                onchange="calculateTotalPrice()">
                                <option selected disabled>Select amount</option>
                                {% for pricing_tier in pricing_tiers|dictsort:"quantity" %}
                                <option value="{{ pricing_tier.id }}" data-quantity="{{ pricing_tier.quantity }}"
                                    data-price="{{ pricing_tier.price_per_unit }}">
                                    {{ pricing_tier.quantity }} - {{ pricing_tier.price_per_unit }} $/hour
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <div class="mb-3 me-auto">
                                <p><strong>Total Price:</strong></p>
                                <p id="total_price">0.00 $</p>
                            </div>
                            <input class="btn btn-color ms-auto rounded-0 my-2" type="submit" value="Add to cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'services/js/total_price.js' %}"></script>
{% endblock %}
